// メディアクエリのメソッド定義
$breakpoint: (
  tab: "screen and (min-width: 520px)",
  pc: "screen and (min-width: 960px)",
);

@mixin mq($bp) {
  @media #{map-get($breakpoint, $bp)} {
    @content;
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .app-sp-display {
    @apply absolute inset-0 bg-white z-[-30];
    @apply font-scandia-web-400;
    @include mq(tab) {
      @apply absolute w-[390px] h-[844px];
      @apply rounded-[32px] overflow-hidden border-4 border-[#3c3c3c];
    }
  }

  .page-top-container {
    @apply w-full h-full;
  }

  // 戻るボタン
  .back-btn {
    @apply absolute top-[10vh] left-[4%] btn btn-circle btn-ghost;
  }

  .open-gift-btn {
    @apply btn btn-circle btn-ghost p-[8px];

    & > svg {
      @apply w-8 h-8;
    }
  }

  // ガラス表現
  .glass {
    &-white {
      @apply backdrop-blur-lg bg-white/80;

      &-sm {
        @apply glass-white backdrop-blur-sm;
      }
    }

    &-light-dark {
      @apply backdrop-blur-lg bg-black/30;

      &-hover {
        @apply backdrop-blur-lg bg-black/40 hover:bg-black/50;
      }
    }

    &-dark {
      @apply backdrop-blur-lg bg-black/50;
    }
  }

  // 下部ボタン
  .bottom-btn {
    &-container {
      @apply absolute bottom-10 pointer-events-none;
    }

    &-sm {
      @apply w-14 h-14;

      & > svg {
        @apply w-10 h-10;
      }
    }

    &-sm-nav > svg {
      @apply w-8 h-8;
    }

    &-md {
      @apply w-[68px] h-[68px];

      & > svg {
        @apply w-12 h-12;
      }
    }

    &-lg {
      @apply w-[76px] h-[76px];

      & > svg {
        @apply w-14 h-14;
      }
    }

    &-gray {
      @apply border-none glass-light-dark-hover;
    }

    &-gray-active {
      @apply border-none glass-light-dark-hover bg-black/20 hover:bg-black/20;
    }

    &-white {
      @apply bg-white border-none border-[#6c6c6c] hover:bg-[#ddd];
    }
  }

  .contents-grid-contianer {
    @apply absolute overflow-y-scroll inset-0;
  }

  // loginページ
  .login {
    // タイトルのコンテナ
    &-title-container {
      @apply w-full mt-[10vh] px-[10%];
      // @include mq(tab) {
      //   @apply w-full mt-[5vh] px-[50px];
      // }
    }
    // ロゴ
    &-tbr-logo {
      @apply w-[120px];
      // @include mq(tab) {
      //   @apply w-[150px];
      // }
    }
    // タイトル
    &-title {
      @apply text-center text-[70px] text-[#707070];
      // @include mq(tab) {
      //   @apply text-[100px];
      // }
    }
    // ログイントップ
    &-top-container {
      @apply px-[10%] w-full;
      // @include mq(tab) {
      //   @apply max-w-[800px];
      // }
    }
    // sign in/upボタン
    &-btn {
      @apply btn btn-circle bg-white hover:bg-[#eee];
      @apply text-[#8C8C8C] border-none shadow-xl;
      @apply normal-case font-scandia-web-400;
      @apply w-full text-xl;
    }
    // アイコン
    &-icon {
      // スペース
      @apply mr-2;
    }
    // sign in/upフォームのコンテナ
    &-sign-container {
      // 外側
      &-outer {
        @apply mt-4 w-full flex justify-center;
      }
      // 内側
      &-inner {
        @apply mx-[20px] p-[20px] w-full rounded-[30px] glass-white-sm;
        // @include mq(tab) {
        //   @apply max-w-[800px] p-[30px];
        // }
      }
    }
    // 戻るボタン
    &-back-btn {
      @apply top-[2vh];
      // @include mq(tab) {
      //   @apply top-[10vh];
      // }
    }
  }

  // アカウントモーダル
  .account {
    &-outer {
      @apply absolute inset-0 bg-black/20 px-6 h-auto;
      @apply grid content-center
    }

    &-container {
      @apply w-full rounded-[50px] ;
      @apply px-6 pt-8 pb-10;
      @apply flex flex-col;
      @apply glass-dark;
    }

    &-address-text {
      @apply text-white mb-4
    }

    &-logout-btn {
      @apply btn btn-circle bg-transparent hover:bg-black/20;
      @apply text-white border-white hover:border-[#eee] border-[2px] shadow-xl;
      @apply normal-case font-scandia-web-400;
      @apply w-full h-[60px] text-[24px];
    }
  }

  // グッズ詳細モーダル
  .item-modal {
    &-outer {
      @apply absolute inset-0 bg-black/20 px-6 py-[10vh];
    }

    &-container {
      @apply w-full h-full rounded-[50px];
      @apply px-6 pt-8 pb-10;
      @apply flex flex-col;
      @apply glass-dark;
    }

    &-title {
      @apply text-center text-white text-[38px];
      @apply font-scandia-web-500;
    }

    &-border {
      @apply border-[1px] border-[#AEAEAE] mt-2;
    }

    &-author {
      @apply text-center text-[22px] text-white mt-2;
    }

    &-image {
      @apply relative grow m-8;
    }

    &-description {
      @apply text-center text-xs text-white mx-6 break-words;
    }

    &-btn-container {
      @apply flex flex-col gap-4 mx-4 mt-6;
    }

    &-btn {
      @apply btn btn-circle bg-transparent hover:bg-black/20;
      @apply text-white border-white hover:border-[#eee] border-[1px] shadow-xl;
      @apply w-full h-[50px];

      &-inner {
        @apply w-full h-full flex;
      }

      &-icon {
        @apply w-[30%] grid content-center h-full;
      }

      &-text {
        @apply w-[70%] grid content-center;
        @apply normal-case font-normal text-[18px];
      }
    }
  }

  // ギフトモーダル
  .gift {
    // 通常ボタン
    &-btn {
      @apply btn btn-circle bg-white hover:bg-[#eee];
      @apply text-[#717171] border-none shadow-xl;
      @apply normal-case font-scandia-web-400;
      @apply w-full h-[60px] text-[24px];
    }
    // 透明ボタン
    &-btn-inverse {
      @apply btn btn-circle bg-transparent hover:bg-black/20;
      @apply text-white border-white hover:border-[#eee] border-[2px] shadow-xl;
      @apply normal-case font-scandia-web-400;
      @apply w-full h-[60px] text-[24px];
    }
    // テキストボックス
    &-input {
      @apply input input-bordered;
      @apply bg-transparent hover:bg-black/20;
      @apply border-white hover:border-[#eee] rounded-full border-[2px];
      @apply text-white text-xl placeholder:text-xl;
      @apply w-full h-[60px] px-6;
    }
  }

  .deco {
    &-title {
      @apply absolute top-8;
      @apply text-center text-[40px] text-[#A5A5A5];
      @apply font-scandia-web-500;
      @apply pointer-events-none;
    }
  }

  // クロップウィンドウ
  .crop {
    &-window {
      @apply h-full;
      @apply bg-[#f5f5f5];
      @apply rounded-t-[10px];
    }

    &-close-btn {
      @apply btn btn-circle;
      @apply border-none;
      @apply text-white;
      @apply bg-[#414142] hover:bg-[#343434];
    }

    &-submit-btn {
      @apply btn btn-square;
      @apply border-none;
      @apply text-white;
      @apply bg-[#1879DE] hover:bg-[#146ac4];
      @apply rounded-[30px];
      @apply mt-4;
      @apply w-[140px] h-[20px];
      @include mq(tab) {
        @apply w-[400px] h-[60px];
      }
    }
  }

  .icon {
    &-exit > svg {
      @apply w-10 h-10;
    }

    &-bottom-bagview > svg {
      @apply w-8 h-8;
    }
  }
}

.font-scandia-web {
  &-400 {
    font-family: "scandia-web", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  &-500 {
    font-family: "scandia-web", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
}
