// メディアクエリのメソッド定義
$breakpoint: (
  tab: "screen and (min-width: 520px)",
  pc: "screen and (min-width: 960px)",
);

@mixin mq($bp) {
  @media #{map-get($breakpoint, $bp)} {
    @content;
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  // 戻るボタン
  .back-btn {
    @apply absolute top-[10vh] left-[4%] btn btn-circle btn-ghost;
  }

  .bottom-btn {
    &-container {
      @apply absolute bottom-10 pointer-events-none;
    }

    &-sm {
      @apply w-14 h-14;
    }

    &-md {
      @apply w-[68px] h-[68px];
    }

    &-lg {
      @apply w-[76px] h-[76px];
    }
  }

  // loginページ
  .login {
    // タイトルのコンテナ
    &-title-container {
      @apply mt-[10vh] px-[10%];
      @include mq(tab) {
        @apply mt-[5vh] px-[50px];
      }
    }
    // ロゴ
    &-tbr-logo {
      @apply w-[120px];
      @include mq(tab) {
        @apply w-[150px];
      }
    }
    // タイトル
    &-title {
      @apply text-center text-[70px] text-[#707070];
      @include mq(tab) {
        @apply text-[100px];
      }
    }
    // ログイントップ
    &-top-container {
      @apply px-[10%] w-full;
      @include mq(tab) {
        @apply max-w-[800px];
      }
    }
    // sign in/upボタン
    &-btn {
      @apply btn btn-circle bg-white hover:bg-[#eee];
      @apply text-[#8C8C8C] border-none shadow-xl;
      @apply w-full text-xl;
    }
    // sign in/upフォームのコンテナ
    &-sign-container {
      // 外側
      &-outer {
        @apply mt-4 w-[100vw] flex justify-center;
      }
      // 内側
      &-inner {
        @apply mx-[20px] p-[20px] w-full bg-gray-200 rounded-[30px];
        @include mq(tab) {
          @apply max-w-[800px] p-[30px];
        }
      }
    }
    // 戻るボタン
    &-back-btn {
      @apply absolute top-[2vh] left-[4%] btn btn-circle btn-ghost;
      @include mq(tab) {
        @apply top-[10vh];
      }
    }
  }

  // クロップウィンドウ
  .crop {
    &-window {
      @apply h-full;
      @apply bg-[#f5f5f5];
      @apply rounded-t-[10px];
    }

    &-close-btn {
      @apply btn btn-circle;
      @apply border-none;
      @apply text-white;
      @apply bg-[#414142] hover:bg-[#343434];
    }

    &-submit-btn {
      @apply btn btn-square;
      @apply border-none;
      @apply text-white;
      @apply bg-[#1879DE] hover:bg-[#146ac4];
      @apply rounded-[30px];
      @apply mt-4;
      @apply w-[140px] h-[20px];
      @include mq(tab) {
        @apply w-[400px] h-[60px];
      }
    }
  }
}
